flask==3.0.0
flask-cors==4.0.0

gunicorn==21.2.0

mysql-connector-python==8.3.0

numpy==1.26.4
scikit-learn==1.4.2

sentence-transformers==2.2.2


torch==2.2.0

faiss-cpu==1.7.4

rapidfuzz==3.6.1
requests==2.31.0

python-dotenv==1.0.1
